/* Variables */

:root {
    --Strong-Cyan: #26baa4;
    --Light-Blue: #6173ff;
    --Dark-Grayish-Blue: #4c545d;
    --Grayish-Blue: #9fabb2;
}

/* General Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1.125rem;

    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
}

img {
    display: block;
    max-width: 100%;
}

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    color: var(--Grayish-Blue);
}

section {
    padding-inline: 2rem;
    margin-bottom: 5rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.button-group button {
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 20px;
    font-weight: 600;
}

.button-group button:first-child {
    background-color: var(--Strong-Cyan);
}

.button-group button:nth-child(2) {
    background-color: var(--Grayish-Blue);
}

/* Specific Styles */

.upper-section {
    margin-top: 3rem;
}
.upper-section img {
    margin: 0 auto;
}

.list-section-icon {
    margin: 0 auto;
}

.company-showcase-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
